@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.miama-font {
    font-family: 'Miama', sans-serif;
}


body {
    background-color: rgb(0, 0, 0);
}

/* shared style */
.primary-bg {
    background-color: rgb(230, 83, 60);
}

.btnPrimary {
    border-radius: 2.626rem;
    background: rgb(230, 83, 60);
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: none;
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.footerContentColor {
    color: rgba(255, 255, 255, 0.5);
}

.getStarted {
    font-size: 2rem;
    font-weight: 700;
}

/* Header Section */

.headerContainer {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.1) 100%);
    width: 100%;
    margin: 2rem auto;
}

.headerBody {
    width: 80%;
    margin: 2rem auto;
}



/* Nav Section */

.navConteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navTitle {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}

.navLinks {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.4rem;
    padding: 10px;
    gap: 2.9rem;
}

.navItem {
    list-style: none;
    font-weight: 400;
    font-size: 1.125rem;

}

.navLink {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


.hamburger {
    display: none;
    font-size: 24px;
    color: white;
}

#home {
    border-radius: 2.875rem;
    padding: 10px;
    margin-left: -8px;
}

/* banner section */
.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannerContent {
    width: 32.5rem;
}

.bannerTitle, .miama {
    color: rgb(255, 255, 255);
    font-size: 4.875rem;
    font-weight: 900;
    margin-bottom: 28px;
}

.bannerDescription {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}

.download {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2.625rem;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.bannerImgAndCard {
    position: relative;
}

.cardOnImg1 {
    width: 10rem;
    height: 5rem;
    text-align: center;
    border-radius: .75rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-bottom: 60px;
    margin-left: 630px;
    bottom: 0;
    left: 0;
}

.redCircle {
    width: 30%;
    height: 50%;
    color: white;
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
    border-radius: 50%;
    margin-right: 1rem;
}
.fa-solid{
    margin: 12px;
}

.cardOnImg2 {
    width: 10rem;
    height: 5rem;
    text-align: center;
    border-radius: .75rem;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    margin-top: 7.5rem;
    right: 0;
    top: 0;
}

/* habit section */
.habit {
    width: 70%;
    margin: 0 auto;
}

.habitTitle {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
}

.habitDescription {
    font-size: .875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.habitContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.habitItem {
    text-align: center;
}

.contentImg {
    border-radius: 50%;
}

.contentTitle {
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.contentDescription {
    font-size: .875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/* Extra Mile Section */

.extraMile {
    width: 70%;
    margin: 4rem auto;
    padding: 1.875rem;
    border-radius: 1.125rem;
    background-color: rgb(34, 34, 34);
}

.extraMileElements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extraMileContent {
    width: 27.688rem;
}

.e-M-Title {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.e-M-Description {
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.e-M-img {
    width: 22.875rem;
    height: 19.5rem;
    border-radius: 1.125rem;
}

/* BMI section */
.bmiSection {
    width: 100%;
}

.bmi {
    margin: 5rem 20rem;
}

.bmiTitle {
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin: 0;
}

.bmiDescription {
    font-size: .875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


.bmiContent {
    background: rgb(34, 34, 34);
    width: 100%;
    height: 30.4375rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.chartContainer {
    width: 28rem;
    height: 24rem;
}

.chartTitle {
    font-size: 1.75rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

table {
    border-collapse: collapse;
    width: 20rem;
    height: 14rem;
}

th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}

td {
    font-size: .875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 8px;
}

.calcContainer {
    width: 36rem;
    height: 24rem;
}

.bmiCalcTitle {
    font-size: 1.75rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.bmiCalcDescription {
    font-size: .875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.inp-1 {
    color: rgba(255, 255, 255, 0.5);
    grid-area: inp-1;
}

.inp-2 {
    color: rgba(255, 255, 255, 0.5);
    grid-area: inp-2;
}

.inp-3 {
    color: rgba(255, 255, 255, 0.5);
    grid-area: inp-3;
}

.inp-4 {
    color: rgba(255, 255, 255, 0.5);
    grid-area: inp-4;
}

.inp-5 {
    color: rgba(255, 255, 255, 0.5);
    grid-area: inp-5;
}

.inputChild {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding: 12px 40px 12px 40px;
    border: none;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.1);
}

#inp-2 {
    display: inline-block;
}

#activity,
#sex {
    width: 100%;
}

.inpContainer {
    width: 100%;
}

.inpForm {
    width: 100%;
    height: 10rem;
    display: grid;
    margin-bottom: 2rem;
    grid-template-areas:
        "inp-1 inp-2"
        "inp-3 inp-4"
        "inp-5 inp-5"
    ;
}

.btnCalc {
    width: 14rem;
    font-size: 1.125rem;
    font-weight: 600;
}

/* Meet our team */
.teamSection {
    margin-top: 5.5rem;
}

.teamTitle {
    font-size: 3rem;
    margin: 0;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-align: center;
}

.teamDescription {
    font-size: .875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 3.625rem;
}

.teamContainer {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border-radius: 1.125rem;
    background: rgba(255, 255, 255, 0.1);
}

.imageContainer {
    position: relative;
}

.imageContainer img {
    width: 20.42rem;
    height: 17rem;
    border-radius: 1.125rem;
}

.textOnImg {
    position: absolute;
    margin-left: 20px;
    bottom: 0;
    left: 0;
}

.name {
    color: rgb(255, 255, 255);
    margin: 0;
}

.position {
    color: rgba(255, 255, 255, 0.5);
}

/* Choose Program section */
.programSection {
    margin-top: 5rem;
}

.programTitle {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
}

.programDescription {
    width: 80%;
    margin: 0 auto;
    font-size: .875rem;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.programContainer {
    width: 100%;
    margin-top: 3rem;
    background-color: rgba(255, 255, 255, 0.05);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.programChilds {
    height: 10rem;
    display: flex;
    justify-content: center;
    margin: 1.25rem auto;
}

.child {
    width: 30rem;
    margin-left: 3.125rem;
}

.childImg {
    width: 6.25rem;
    height: 6.25rem;
}

.childHeading {
    margin: 0;
    font-size: 1.23rem;
    color: rgb(255, 255, 255);
}

.childDescription {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: .875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.childAtag {
    text-decoration: none;
    margin: 0px;
    color: rgb(230, 83, 60);
}

/* footer Section */
.footer {
    background-color: rgba(255, 255, 255, 0.1);
    height: 27rem;
}

.footerContainer {
    margin-top: 6.75rem;
}

.footerTitle {
    color: rgb(230, 83, 60);
    margin: 0;
    font-size: 4.375rem;
    font-weight: 800;
}

.footerDescription {
    font-size: 0.875rem;
    font-weight: 400;
}

.footerContent {
    color: white;
    width: 66.1875rem;
    height: 15.5625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.footerContent li {
    list-style: none;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer-li {
    margin-right: 2rem;
    padding-left: 0;
}

hr {
    margin: 5rem 8rem 3rem;
    /* color: rgba(255, 255, 255, 0.1); */
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.rights {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}

.firstContent {
    width: 27.6875rem;
}

/* mobile device responsive style */
@media screen and (max-width:576px) {
    .miama{
        font-size: 2.25rem;
    }
    .bannerContent{
        width: 98%;
    }
    .bannerTitle {
        font-size: 2.25rem;
    }
    .bannerDescription{
        width: 90%;
    }

    .navLinks {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .bannerContainer {
        flex-direction: column;
    }

    .cardOnImg1 {
        width: 9rem;
        height: 4.5rem;
        margin-bottom: 16.5625rem;
        margin-left: 10px;
    }

    .cardOnImg2{
        width: 9rem;
        height: 4.5rem; 
        margin-top: 27rem;
    }
    .fa-solid{
        margin: 9px;
    }

    .navBtn {
        display: flex;
        justify-content: center;
    }

    .habitTitle {
        font-size: 2rem;
        font-weight: 900;
    }

    .habitContent {
        flex-direction: column;
    }

    .extraMileElements {
        flex-direction: column;
        gap: 2rem;
    }

    .extraMileContent {
        width: 15rem;
    }

    .e-M-img {
        width: 15rem;
        height: 12rem;
    }

    /* bmi section */

    .bmiSection {
        width: 100%;
    }

    .bmi {
        margin: 2rem 1rem;
    }

    .bmiTitle {
        font-size: 2rem;
        text-align: center;
    }

    .bmiDescription {
        font-size: 0.75rem;
        text-align: center;
    }

    .bmiContent {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .chartContainer,
    .calcContainer {
        width: 90%;
        height: auto;
        margin-bottom: 2rem;
    }

    .chartTitle,
    .bmiCalcTitle {
        font-size: 1rem;
        text-align: start;
    }

    table {
        width: 100%;
        height: auto;
    }

    th,
    td {
        font-size: 0.75rem;
        padding: 6px;
    }

    .inp-1,
    .inp-3 {
        width: 10rem;
        margin-right: 1rem;
    }

    #inp-2 {
        width: 9rem;
    }

    .inpContainer {
        width: 100%;
    }

    .inpForm {
        width: 100%;
        gap: 1rem;
        grid-template-areas:
            "inp-1 inp-2"
            "inp-3 inp-4"
            "inp-5 inp-5";
    }

    .inputChild {
        padding: 10px 15px;
        width: 100%;
    }

    .btnCalc {
        width: 14rem;
        font-size: 1rem;
    }

    /* team section */
    .teamContainer {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .imageContainer img {
        width: 20.42rem;
        height: 17rem;
        border-radius: 1.125rem;
        margin-left: 1.25rem;
    }

    .textOnImg {
        position: absolute;
        margin-left: 1.875rem;
        bottom: 0;
        left: 0;
    }

    /* program container */
    .programContainer {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .child {
        width: 10rem;
    }

    /* footer section */
    .footer {
        background: rgba(255, 255, 255, 0.1);
        margin-top: 2rem;
        padding: 2rem 1rem;
        height: auto;
    }

    .footerContent {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        text-align: start;
    }

    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3rem;
        width: 100%;
        padding: 0 1rem;
        text-align: start;
    }

    .footerTitle {
        font-size: 2.5rem;
        text-align: left;
    }

    .footerDescription {
        font-size: 0.875rem;
        text-align: left;
        width: 19.8125rem;
    }

    .getStarted {
        font-size: 1.5rem;
        margin-top: 1rem;
        text-align: left;
    }

    .footer-li {
        margin: 1rem 0;
    }

    .rights {
        font-size: 1rem;
        text-align: left;
        margin-top: 1rem;
    }

    hr {
        margin: 1rem 0;
        width: 80%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        display: block;
    }
}